@use "variables" as var;

.card {
  width: 200px;
  height: 250px;
  border-radius: 16px;
  background-color: var.$color2;
  box-shadow: 3px 3px 10px;
  padding: 48px 12px 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &__name {
    background-color: var.$color1;
    text-align: center;
    color: var.$color6;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
  }

  &__circle {
    background-color: var.$color4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 56px;
    left: 24px;
  }

  &__img {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
}

.card1{
  transform: rotate(5.5deg) translate(140px);
}

.card2{
  transform: rotate(4deg) translate(70px);
}
